@import '../variables/variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.description {
  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 124.02%;

    text-align: center;
    text-transform: uppercase;

    color: #F8FBFA;

    margin-bottom: 80px;
  }

  .cards {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .card {
    border-radius: 0;
    border: 0;

    height: 280px;
    width: 360px;
    margin: 20px;
    padding: 60px 55px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .card-title {
    font-family: 'Inter';
    font-size: 27px;
    font-weight: 700;
    line-height: 33px;
    text-align: center;
    color: $base-green;
  }

  .card-text {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;    
    text-align: center;
  }

  .description-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;


    .hr-wrapper {
         display: flex;
      align-self: center;
      justify-self: center;

      hr {
        width: 100%;
      }
    }


    .d-bottom-text {
      padding: 40px;
      display: flex;
      justify-content: center;
    } 

    span {
    height: auto;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 130.42%;

    text-align: center;

    color: #F8FBFA;

    }
  }
}